<div class="main-panel">
  <div class="main-content">
    <div class="content-wrapper">
      <div class="container-fluid"><!--Extended Table starts-->
<div class="row">
  <div class="col-12">
    <h2 class="content-header"> </h2>
  </div>
</div>
<section id="extended">
  <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                  <div class="chart-container" style="position: relative; height:40; width:70">    
                    <canvas id="canvas"></canvas>    
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                  <canvas id="pieces"></canvas>    
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
<!--Extended Table Ends-->
<!--Shopping cart starts-->

<!--Shopping cart ends-->
      </div>
    </div>
  </div>

 
</div>